.router-link-exact-active {
    color: #212529 !important;
    font-weight: 600 !important;
}

// Landing Page

.landing-bg {
    background-image: radial-gradient(circle at bottom right, #3c9add, #191452) !important;
}